<header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/hotels/search" style="margin-left: 50px">
                <img src="/static/images/default/logo.png" alt="Booking" width="30" height="30" class="d-inline-block align-top">
                Booking
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/hotels/search">Search hotels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bookings/my">My bookings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/hotels/favourites">My favourites</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About project</a>
                    </li>
                </ul>
            </div>
            <div class="user-actions" style="margin-right: 50px">
                <ul class="navbar-nav ml-auto user-profile">
                </ul>
            </div>
        </nav>
    </header>
