{% extends 'app_base.html' %}

{% block head %}
	<title>Авторизация</title>
    <script src="/static/js/auth/login.js"></script>
    <style>
    .login-form {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .login-container {
        max-width: 400px;
        padding: 20px;
        border: 2px solid #ccc;
        border-radius: 10px;
    }
    </style>
{% endblock %}

{% block content %}
<div class="login-form">
    <div class="col-md-6 offset-md-3">
        <div class="login-container">
        <h2 class="text-center">Authorization</h2>

            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <p>Don't have an account? <a href="/auth/register/">Create</a></p>
            <p>Forget password? <a href="/auth/email_code?request_type=recovery">Recover</a></p>
            <p>Inactive account? <a href="/auth/email_code?request_type=activate">Activate</a></p>
            <button id="login-button" class="btn btn-primary">Log in</button>
        </div>
    </div>
</div>
{% endblock %}
