{% extends 'base.html' %}

{% block head %}
	<title>Свободные комнаты</title>
    <script src="/static/js/hotels/rooms.js"></script>
    <style>

    .hotel-image {
        max-width: 200px;
        max-height: 150px;
        margin-right: 20px;
    }
    </style>
{% endblock %}

{% block content %}
	<div class="hotel-info">

    </div>

    <div class="rooms-info">
        <h3 class="mt-3" style="padding: 20px;">Свободные комнаты на выбранные даты: </h3>
        <div class="rooms-list">

        </div>
    </div>
{% endblock %}
