{% extends 'base.html' %}

{% block head %}
	<title>Отели</title>
    <script src="/static/js/hotels/search.js"></script>
    <style>
        .card-img-custom {
            width: 400px;
            height: 200px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>Поиск свободных отелей</h2>
        <div class="form-group">
            <label for="title">Название или местоположение (например: алтай):</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="form-group">
            <label for="startDate">Дата заезда:</label>
            <input type="date" class="form-control" id="startDate" name="startDate" required>
        </div>
        <div class="form-group">
            <label for="endDate">Дата выезда:</label>
            <input type="date" class="form-control" id="endDate" name="endDate" required>
        </div>
        <button id="search-button" class="btn btn-primary">Искать отели</button>
    </div>
    <div class="found-hotels">
        <!-- js will fill this field -->
    </div>
{% endblock %}
