{% extends 'app_base.html' %}

{% block head %}
	<title>Hotels</title>
    <script src="/static/js/hotels/search.js"></script>
    <style>
        .card-img-custom {
            width: 400px;
            height: 200px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>Search available hotels</h2>
        <div class="form-group">
            <label for="title">Name or location of the hotel (example: <span class=".search-autocomplete">алтай</span>):</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="form-group">
            <label for="startDate">From:</label>
            <input type="date" class="form-control" id="startDate" name="startDate" required>
        </div>
        <div class="form-group">
            <label for="endDate">To:</label>
            <input type="date" class="form-control" id="endDate" name="endDate" required>
        </div>
        <button id="search-button" class="btn btn-primary">Search</button>
    </div>
    <div class="found-hotels">
        <!-- js will fill this field -->
    </div>
{% endblock %}
